doctype xml
updates
	update
		name Компонент «ПИТАНИЕ»
		description Компонент <code>com_food</code> для Joomla CMS #{zip}. Обслуживания директории food сайта школы. Актуально для школ РФ. Предназначен для использования в административной панели Joomla CMS #{zip}.
		element com_food
		type component
		version= version
		infourl(title="Сервер обновления компонента «ПИТАНИЕ»") https://projectsoft-studionions.github.io/com_food/
		downloads
			downloadurl(type="full" format="zip") https://projectsoft-studionions.github.io/com_food/#{version}/com_food-#{zip}.zip
		//- sha256= sha256
		//- sha384= sha384
		//- sha512= sha512
		targetplatform(name="joomla" version=joomla)
		maintainer= author
		maintainerurl https://projectsoft.ru/